.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.plot {
    margin: 20px 0;
    padding: 0 20px;
}

.plot span {
    font-weight: bold;
}

.main {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: bisque;
    padding: 20px 0;
}

.main h3 {
    text-decoration: underline;
}

.main div:first-child {
    text-align: right;
    min-width: 200px;
}

.main div:last-child {
    text-align: left;
    min-width: 200px;
}

.actors,
.movieInfo {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.movieInfo li span {
    font-weight: bold;
}
