.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    background-color: #333;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
