.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.footer span {
    font-weight: bold;
    text-decoration: underline;
}
